.table td.badge-info
{
	vertical-align: middle;
}

.badge-cell
{
	width: 16.67%;
	text-align: center;
	border: 1px solid #ddd !important;
}

.badge-cell .progress-bar-partial
{
	min-width: 30%;
	min-width: fit-content;
	padding: 0 4px;
}

.badge-cell .progress-bar-success
{
	width: 100%;
}

.achievementImg
{
	height: 60px;
}

.nietGehaald
{
	opacity: 0.3;
}

.center
{
	text-align: center;
}

.omschrijving
{
	vertical-align: middle;
	font-weight: bold;
}

.progress
{
	margin-bottom: 0px !important;
}

.dilbertForm
{
	width: 0;
	height: 0;
	overflow: hidden;
}
