#planner .wel {
	background-color: #CEE89E;
}

#planner .niet {
	background-color: #FF7470;
}

.table-striped > tbody > tr:nth-child(odd) > td.ja,
.ja {
	background-color: #CEE89E;
}

.table-striped > tbody > tr:nth-child(odd) > td.liever_niet,
.liever_niet {
	background: #FFFF99;
}

.table-striped > tbody > tr:nth-child(odd) > td.nee,
.nee {
	background: #FF7470;
}
