form.benamite-zoek {
	text-align: right;
	margin-bottom: 2em;
}

table.benamite-table {
	border-spacing: 5px;
	border: none;
}

table.benamite-table th {
	margin: .5em;
	padding: 0 .5em .25em;
	text-align: center;
}

table.benamite-table > tbody > tr > td {
	border-left:  1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0;
	vertical-align: middle;
}

table.benamite-table td.borderless {
	border-left:  none;
	border-right: none;
}

table.benamite-table span.fa {
	color: #000088;
	font-size: 18px;
}

table.benamite-table input[type="text"], table.benamite-table select {
	border: none;
	background: none;
	height: 25px;
	margin: 0;
	padding: 0 5px;
	font-size: 10pt;
}
