.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background: #fff;
}

.bs-callout+.bs-callout {
	margin-top: -5px;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger h4 {
	color: #d9534f;
}

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout-info h4 {
	color: #5bc0de;
}

.bs-callout-warning {
	border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
	color: #f0ad4e;
}

.bs-callout-primary {
	border-left-color: #337ab7;
}

.bs-callout-primary h4 {
	color: #337ab7;
}

.bs-callout-success {
	border-left-color: #3c763d;
}

.bs-callout-success h4 {
	color: #3c763d;
}
