html {
	overflow-y: scroll;
}

.grid-sizer { width: 20%; }
.grid-item { width: 20%; }

.grid-item img {
	width: 100%;
}

@media screen and (max-width: 1224px) {
	.grid-sizer { width: 33.33%; }
	.grid-item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
	.grid-sizer { width: 50%; }
	.grid-item { width: 50%; }
}

@media screen and (max-width: 480px) {
	.grid-sizer { width: 100%; }
	.grid-item { width: 100%; }
}
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none !important;
	color: #fff !important;
	display: none;
}

.overlay .title {
	text-align: center;
	font-size: 30px;
}

.overlay .description {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.80);
	width: 100%;
	padding: 10px;
}

.overlay .description p {
	margin: 20px;
}

.grid-item:hover .overlay {
	display: block;
}

.screenOverlay {
	z-index: 10000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.9);
}

.screenOverlay img {
	position: relative;
	display:block;
	margin:auto;
	transition: all 300ms ease-in-out;
}

.pswp__button--aes {
	display: block !important;
	background: url('/Layout/Images/slinger-mini.png') 0 0 no-repeat !important;
	background-position: center !important;
}

.pswp__button--lock {
	display: block !important;
	background: url('/Layout/Images/Icons/lock-white.png') 0 0 no-repeat !important;
	background-position: center !important;
}

.pswp__aes-modal--hidden {
	display: none !important;
}

.pswp__aes-modal--fade-in {
	opacity: 1 !important;
}

.pswp__aes-modal {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	position: absolute;
	z-index: 1700;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
	-webkit-backface-visibility: hidden;
	will-change: opacity;
}
.pswp__aes-modal {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pswp__aes-modal--fade-in .pswp__aes-tooltip {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.pswp__aes-tooltip {
	overflow: auto;
	z-index: 1720;
	position: absolute;
	background: #FFF;
	top: 56px;
	border-radius: 2px;
	display: block;
	width: auto;
	right: 176px;
	max-height: 90%;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-backface-visibility: hidden;
	will-change: transform;
}
.pswp__aes-tooltip > div > a:first-child {
	border-radius: 2px 2px 0 0;
}
.pswp__aes-tooltip > div > a {
	display: block;
	padding: 8px 12px;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}
a[class*=" pswp__aes--"]:before, a[class^="pswp__aes--"]:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -12px;
	right: 15px;
	border: 6px solid transparent;
	border-bottom-color: #FFF;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
}

a[class*=" pswp__aes--"]:hover, a[class^="pswp__aes--"]:hover {
	background: #97001E;
	color: #FFF;
}

div[class*="-info"] {
	padding: 15px 15px 0px 15px;
}

.starRow {
	margin: 0px !important;
}

#foto-footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.preLoaded {
	width: 260px;
	height: 130px;
}

#scrollBar {
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	cursor: grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.footer-cell {
	white-space: nowrap;
}

#fotoContainer {
	margin-bottom: 40px;
}

.cn {
	position: absolute;
	display: table;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

.inner {
	display: table-cell;
	vertical-align: middle;
	color: white;
}
