body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.cover {
	overflow: hidden
}

.cover.mini-window {
	height: 30%;
	width: 100%;
	min-height: 480px;
}

.cover.half-window {
	height: 70%;
	height: 50%;
	width: 100%;
	min-height: 480px;
}

.cover.full-window {
	height: 100%;
	width: 100%;
	min-height: 480px;
}

.cover .cover-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	//opacity: 0;
	-webkit-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s
}

.cover #particles-fullwin-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .9
}

.cover .container-fluid {
	/*position: absolute;
	bottom: 0;
	padding: 60px;
	width: 100%;*/
	background: -webkit-linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
	background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%)
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
}

@media (max-width: 1024px) {
	.cover .container-fluid {
		padding:30px
	}
}

.section-header .content {
	top: 42%;
	position: relative;
	color: white;
	text-align: center;
	text-shadow: 0px 1px 20px rgba(0, 0, 0, 1);
	vertical-align: center;
	line-height: 1.7;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cover > .container {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%)
}

.cover h2 {
	margin: 0;
	color: #fff;
	font-size: 100px;
	line-height: 1.1
	padding-bottom: 20px;
}

.content span {
	font-size: 1.4vw;
}

@media (max-width: 1200px) {
	.cover h2 {
		font-size:6vw;
		padding-bottom: 20px;
	}

	.content span {
		font-size: 2.8vw;
	}
}

@media (min-width: 1200px) {
	.cover h2 {
		font-size:5vw;
		padding-bottom: 20px;
	}

	.content span {
		font-size: 1.4vw;
	}
}

@media (max-width: 480px) {
	.cover h2 {
		font-size:7vw;
		padding-bottom: 20px;
	}

	.content span {
		font-size: 5vw;
	}
}

.cover h2 small {
	display: block;
	font-size: 12px;
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase
}

.cover h2 small:after {
	margin-top: 40px;
	content: " ";
	display: block;
	height: 5px;
	width: 60px;
	background-color: #3d69e7;
	margin-bottom: 40px
}

.cover h2 small a {
	color: #fff
}

.cover h2 small a:hover {
	color: #3d69e7
}

.cover h2 a {
	color: #fff
}

.cover h2 a:hover {
	color: #3d69e7
}

/* SECTIONS */
.section {
	//padding: 1.875em 0;
	position: relative;
	background-color: #97001e;
	padding-top: 10px;
}

.section:not(:last-child) {
	padding-bottom: 10px;
}
.section .title {
	max-width: 760px;
	margin: 0 auto;
	display: block;
	padding-bottom: 50px;
	font-size: 2em;
	line-height: 1.25;
	letter-spacing: 0.02em;
	font-weight: bold;
	text-transform: uppercase;
}
.title {
	text-align: center;
	margin-bottom: 50px;
}
.section .text-area {
	padding: 4.375em 0;
	position: relative;
	z-index: 3;
	display: block;
	background-color: #f9f9f9;
}
.section .parallax, .section .full-image {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
}
.section .parallax > img, .section .full-image > img {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: relative;
	z-index: 1;
}
.section .responsive-background {
	position: relative;
	background-color: #c5a47e;
	padding: 0;
	z-index: 1;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 500px;
}
.section .nav > li {
	display: inline-block;
}

.section a {
	color: #97001e;
}

.section a.btn {
	color: white;
}

.section a:hover {
	cursor: pointer;
}

.section-gray {
	background-color: #EEEEEE;
}

.big-text {
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
}

.description {
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}

.social-buttons {
	margin-top: -20px;
	border-top: 1px solid #DDDDDD;
	text-align: center;
	display: inline-block;
	padding: 15px 35px;
	color: #777777;
	font-size: .9em;
}

.number {
	font-size: 40px;
	color: #97001e;
	font-weight: 400;
}

.carousel-inner img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.btn {
	border-radius: 0px;
}

.btn-primary {
	color: #fff;
	border-color: #97001e;
	background-color: #97001e;
}

.btn-primary:hover {
	color: #fff;
	border-color: #86001b;
	background-color: #86001b;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	border-color: #770018;
	background-color: #770018;
}

.clear-article-row:nth-child(4n+5) {
	clear: both;
}
/*.clear-article-row {
	padding: 0 !important;
}*/

.wrapper {
	padding-left: 15px;
	padding-right: 15px
}

.content {
	margin-top: 20px
}

.article,.article-view {
	transition: background-color 0.2s ease;
	background-color: #eee;
	margin-bottom: 30px
}

.article a {
	text-decoration: none;
}

.article:hover {
	background-color: rgba(3,3,3,0.5) !important;
	color: white !important;
}

.article-wrapper {
//	padding: 20px;
	color: white;
	padding-bottom: 30px;
}

.article-wrapper h3 {
	text-align: center;
	color: black;
	margin-top: 30px !important;
	margin-bottom: 0px !important;
//	padding-top: 10px;
//	border-top: 1px solid #DDDDDD;
}

.article-wrapper a {
	color: grey !important;
}

.article h3 a {
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 20px
	color: white;
}

.details {
	max-height: 300px;
	overflow-y: hidden;
}

.details p {
	font-weight: 300;
	font-size: 18px;
	color: #ccc
}

.article-wrapper .article-date {
	text-align: center;
	padding: 15px;
	background-color: #97001e;
}

.article-date {
	color: white;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase
}

.read-more,.read-more a {
	font-size: 16px;
	font-weight: 300
}

.wrapper {
	padding-left: 15px;
	padding-right: 15px
}

@media (min-width: 992px) {
	.is-table-row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.is-table-row > [class*='col-'] {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.is-table-row > [class*='col-'] > .article {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}

.balk-boven {
	background: #97001e;
	height: 5px !important;
	position: relative;
}

.fotosdiv {
	//height: 100%;
	width: 100%;
	min-height: 480px;
}

.fotosdiv .foto {
	position: absolute;
}

.fotosdiv .foto-left {
	width: 33%;
	height: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
}

.fotosdiv .foto-middle {
	width: 42%;
	height: 100%;
	left: 29%;
	-webkit-clip-path: polygon(11% 0%, 100% 0, 89% 100%, 0% 100%);
	clip-path: polygon(11% 0%, 100% 0, 89% 100%, 0% 100%);
}

.fotosdiv .foto-right {
	width: 33%;
	height: 100%;
	left: 67%;
	-webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
}

.fotosdiv .foto img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:1;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
	filter:alpha(opacity=100);
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect .overlay h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect .overlay h3 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color: #fff;
	border: 5px solid #97001e;
	background: rgba(0,0,0,0.6);
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.hovereffect a.info:hover {
	color: #fff;
	border: 5px solid transparent;
	background-color: #97001e;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:0;
	filter:alpha(opacity=0);
}

.hovereffect:hover h2,
.hovereffect:hover a.info,
.hovereffect:hover h3 {
	opacity:1 !important;
	filter:alpha(opacity=100) !important;
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}

.hovereffect .overlay2 {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	text-decoration: none;
}

.hovereffect .overlay2 h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	padding:10px;
}

.hovereffect .overlay2 h3 {
	position: absolute;
	width: 100%;
	top: 50%;
	color:#fff;
	text-align:center;
	//position:relative;
	font-size:19px;
	background:rgba(0,0,0,0.6);
	padding:60px;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

@media (max-width: 768px) {
	.hovereffect .overlay2 h2 {
		font-size: 12px !important;
	}
	.hovereffect .overlay2 h3 {
		font-size: 11px !important;
		padding:20px;
	}
}

.navbar-fixed-top {
	border-bottom: 5px solid #97001e;
}

.icoontje a {
	padding: 30px 5px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 5px solid #97001e;
	width: 100%;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.icoontje a:hover {
	transition: all .2s ease-in-out;
	background-color: #97001e;
	color: #fff;
}

.full-height {
	//height: 100%;
	min-height: 90vh !important;
}

.vacature {
	padding: 15px;
	height: 100%;
	color: #97001e;
	border: solid 5px #97001e;
	//position: absolute;
	//min-height: 300px;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
	border: 1px solid grey;
	background: rgba(51,51,51,0.6);
	padding: 5px;
	border-radius: 3px;
}

#fp-nav ul li .fp-tooltip {
	top: -10px !important;
}

#fp-nav ul li, .fp-slidesNav ul li {
	margin: 22px !important;
}

@media (max-width: 768px) {
	#fp-nav {
		display: none;
	}
}

.logo {
	width: 30%;
}

.div-1 {
	height: 100%;
	text-align: center;
}

.flex-row {
	flex-grow: 1;
	position: relative;
}

@media (min-width: 992px) {
	.vacature-row,
	.icoontjes-row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.icoontjes-row {
		padding-top: 50px;
	}
}

.vacature-icoontje {
	text-align: center;
	flex: 1;
}

.vacature img {
	max-width: 100%;
	max-height: 300px;
	width: auto;
	height: auto;
}

.div-4 img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.div-4-grad {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 59%, rgba(0, 0, 0, 0.8) 100%) 0% 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}

.div-4 .text-area {
	text-decoration: none;
	color: white;
	background-color: transparent;
	color: white;
	text-shadow: 0 0 20px black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.progressbar-container {
	width: 100%;
	z-index: 1000;
	position: absolute;
	bottom: 0;
}

.progressbar {
	width: 0%;
	height: 2px;
	background-color: #fff;
}

#myCarousel,
#myCarousel2,
.carousel-inner {
	height: 100%;
}

.resload {
	display: none;
}

.item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}
