html, body {
	background-color: #000;
	padding:0;
	margin:0;
	color:white;
	font-family:sans;
	font-size:25pt;
}

iframe {
	border: 0;
}

h1{
	font-family:sans;
	font-weight:normal;
	font-size:60pt;
	padding:0;
	margin:0; 
	color:yellow;
	margin-bottom: 30px;
}

h2{
	font-family:sans;
	font-weight:normal;
	font-size:25pt;
	padding:0;
	margin:0; 
	color:white;
	border-bottom: #ffffff 1px solid;
}

ul{
	margin-top: 10px;
	margin-bottom:10px;
	padding-left:10px;
	font-size:30pt;
	list-style: none;
	color:yellow;
	font-family: Nina;
}
#page {
	width:1920;
	height:1080;
	background-color:black;
	position:relative;
}

#main {
	width:1314;
	height:928;
	position:absolute;
	top:0; left:606;
	background-color:none;
}

.slideshow { height: 928px; width: 1314px; text-align:middle; z-index:1}
.slideshow div { width: 1314px; height: auto; vertical-align:middle}
.slideshow img {max-height:900; margin:auto; display:block; max-width:1200px; vertical-align:middle;-webkit-box-shadow: 7px 7px 8px #000000;}

#posterspace {
	width:1200;
	height:928;
	position:absolute;
	top:0; left:114;
}


#ticker {
	width:0px;
	height:117;
	position:absolute;	
	bottom:0; left:628; 
	background-color:rgba(0,0,0,0);
	border-top: #f7db3d 4px solid;
	z-index:1;
	font-family: sans;
	color:white;
	font-size:50pt;
	padding-top:30px;
}

#left {
	height:1080;
	width:768px;
	background-image:url(/Layout/Images/Televisie/links_breed.png);
	position:absolute;
	top:0; left:0;
	z-index:2;
}

#text {
	padding:10px;
	background-color:none;
	position:absolute;
	top: 20px; left: 20px; 
	width: 550px; height: 760px;
	overflow: hidden;
}

#aeslogo {
	background-image:url(/Layout/Images/Televisie/aeslogo.png); 
	width:420px; height:250px; 
	position:absolute; 
	top: 830px; left:-40px;
}

#tijd {
	padding:10px;
	background-color:none;
	position:absolute;
	top: 945px; left: 400px;
	width: 280px; height: 110; 
	font-size:60pt; 
	font-family: sans;
	color:white; 
	text-align:right
}
