/* Bug-overzichtspagina */
.blockSeparator
{
	min-height: 95% !important;
	position: absolute;
}

.leftdiv
{
	width: 45%;
	padding-right: 5px;
}

.rightdiv
{
	width: 45%;
	padding-left: 10px;
}

.categorielink
{
	float: right;
}

/* Bug-pagina */
.bugs .sorteringsbutton
{
	float: right;
}

.bugs .pijl
{
	text-decoration: none;
}

.bugs .melder
{
	font-size: larger;
	font-weight: bold;
}
.bugs .moment
{
	font-size: smaller;
}

.bugs label.toegewezen
{
	display: inline-block;
	vertical-align: top;
}

.bugs .bugBericht
{
	width: 100%;
}

.bugs .bugBericht:hover
{
	background-color: #E8E8E8;
}

.bugs .bugBericht .info
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding-right: 5px;
}

.bericht
{
	vertical-align: top;
	font-size: 110%;
}
.eersteBericht
{
	font-weight: bold;
}


/* Bug-tabel algemeen */
table.bugs
{
	border: 1px solid lightgray;
}
.bugs td, .bugs th
{
	padding: 0px 5px 0px 5px;
}

/* Bug-tabel header */
.bugs th
{
	border-bottom: 1px solid darkblue;
}
.bugs th:hover
{
	background-color: #E8E8E8;
}
.bugs th.bugID
{
	width: 50px;
}
.bugs th.prioriteit
{
	width: 20px;
}
.bugs th.status
{
	width: 80px;
}
.bugs th.titel
{
	width: auto;
}

/* Bug-tabel body */
.bugs tbody tr.open       { background: #FFDDDD }
.bugs tbody tr.bezig      { background: #FFEECC }
.bugs tbody tr.opgelost   { background: #EEEEDD }
.bugs tbody tr.uitgesteld { background: #EECCDD }
.bugs tbody tr.gesloten   { background: #DDEEDD }
.bugs tbody tr.bogus      { background: #DDEEEE }
.bugs tbody tr.dubbel     { background: #DDDDEE }
.bugs tbody tr.wannahave  { background: #CCEEFF }
.bugs tbody tr.feedback   { background: #DDEEFF }

/* BugCategorie */
.inactief
{
	color: red;
}

/* Zoeken-formulier */
.zoeken label
{
	display: inline-block;
	margin-bottom: 5px;
}
.zoeken input.text
{
	width: 300px;
}
.zoeken .col1
{
	width: 100px;
}
.zoeken .col2
{
	width: 200px;
}
.zoeken .col3
{
	width: 100px;
	margin-left: 10px;
}
.zoeken .col4
{
	width: 200px;
}

.vertSeparator {
	display: inline-block;
	border-top: 1px dotted black;
	width: 100%;
}

.cie-bug-rij > td {
	font-weight: bold;
	font-style: italic;
}

