#timeline a {
	text-decoration: none;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 15px;
	margin-right: 15px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

#timeline .sociales {
	text-align: center;
	margin-bottom: 20px;
}

#timeline {
	width: 100%;
	height: 100%;
	overflow: hidden;
	//margin: 40px auto;
	position: relative;
	//max-height: 600px;
}
#timeline #dates {
	width: 360px;
	height: 600px;
	overflow: auto;
	float: left;
	overflow-x: hidden;
}
#timeline #dates li {
	list-style: none;
	width: 100%;
	height: 150px;
	line-height: 100px;
	font-size: 24px;
	padding-left: 10px;
	position: relative;
	border-right: 5px solid #333;
}
#timeline #dates a {
	background-color: white;
	color: #97001e;
	padding-top: 5px;
	padding-bottom: 8px;
	border: solid 5px #97001e;
	font-weight: bold;
	position: relative;
}
#timeline #dates a:hover {
	background-color: #97001e;
	color: #fff;
	border: solid 5px #fff;
}
#timeline #dates a:after {
/*	position: absolute;
	top: 27%;
	margin-left: 7%;
	content: '';
	width: 0;
	height: 0;
	border-left: solid 20px #97001e;
	border-top: solid 13px transparent;
	border-bottom: solid 13px transparent;*/
}
#timeline #dates .selected {
	font-size: 23px;
}

#timeline #issues {
	width: calc(100% - 360px);
	height: 600px;
	overflow: hidden;
	float: left;
	//border-left: 5px solid #333;
}	
#timeline #issues > li {
	width: 100%;
	height: 600px;
	list-style: none;
	display: block;
	float: left;
	overflow-y: auto;
}
#timeline #issues li.selected img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
#timeline #issues li img {
	float: left;
	margin: 10px 30px 10px 50px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out; 
	transition: all 2s ease-in-out;
	-webkit-transform: scale(0.7,0.7);
	-moz-transform: scale(0.7,0.7);
	-o-transform: scale(0.7,0.7);
	-ms-transform: scale(0.7,0.7);
	transform: scale(0.7,0.7);
}
#timeline #issues li h1 {
	//color: #ffcc00;
	font-size: 48px;
	text-align: center;
	text-shadow: #000 1px 1px 2px;
}
#timeline #issues li .panel-body {
	//overflow-y: scroll;
}

#timeline .disk {
	background: #333;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 45px;
	right: -7px;
}

#timeline .titeldiv {
	margin-left: 15px;
	font-size: 20px;
	line-height: 22px;
}

#prev, #next {
	display: none !important;
}

//ul::-webkit-scrollbar {
//	display: none;
//}
#dates-small {
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
	padding-top: 30px;
	padding: 0;
}
#dates-small li {
	list-style: none;
	width: 100%;
	//height: 150px;
	font-size: 24px;
	position: relative;
}
#dates-small .titeldiv {
	padding-top: 20px;
}
#dates-small > li > a {
	background-color: white;
	color: #97001e;
	padding-top: 5px;
	padding-bottom: 8px;
	border: solid 5px #97001e;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	margin: 15px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	display: block;
}
#dates-small a.active {
	background-color: #97001e;
	color: #fff;
	border: solid 5px #fff;
}
#dates-small .selected {
	font-size: 23px;
}

#dates-small .act-info {
	display: none;
	margin: 20px;
}
