<h2>Error 401: Unauthorized</h2>
<p>User authentication for the page you requested 
   (<? echo htmlspecialchars(getenv("REQUEST_URI")) ?>) failed</p>

<?=(!empty($uriRef['error'])?'<p>'.$uriRef['error'].'</p>':'')?>

<? require_once('error_algemeen.html'); ?>
