<h2>Error 403: Geen toegang</h2>
<p>Sorry, maar je hebt geen toegang tot dit gedeelte van de website.</p>
<?
	global $uriRef;
	if(!empty($uriRef['error'])) {
		echo '<p>'.$uriRef['error'].'</p>';
	}
?>

<? require_once('error_algemeen.html'); ?>
