<h2>Error 412: Precondition failed</h2>
<p>The precondition given in one or more of the request-header fields
   evaluated to false when it was tested on this server.</p>

<? require_once('error_algemeen.html'); ?>
