<h2>Error 504: gateway Timeout</h2>
<p>The server, while acting as a gateway or proxy, did not receive a
   timely response from the upstream server it accessed in attempting to
      complete the request.</p>

<? require_once('error_algemeen.html'); ?>
